.todo-wrapper {
  background: #fff;
  border: 1px solid #ccc;
  width: 50%;
  min-height: 40px;
  margin: 0 auto 200px;
  padding: 20px;
}

.todo-item {
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  align-items: center;
}

.todo-checkbox {
  flex: 1 1 10%;
}

.todo-info {
  display: flex;
  flex: 1 1 90%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.tag-list {
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px;
}

.tag-wrapper {
  display: inline-block;
  padding: 5px;
  font-size: 10px;
  margin-right: 6px;
  margin-top: 5px;
}
